<div id="old_rates" class="container">
  <% cache @rates do %>
    <%= link_to 'Show History', new_history_path, id: "show_link", remote: true, class: 'badge' %>
    <%= render :template => 'history/history' %>
  <% end %>
</div>