<div class="container">
  <%= render :template => 'triggers/index' %>
  <%= render :template => 'rates/index' %>
  <%= link_to 'Show History', new_log_path, id: "show_link", remote: true, class: 'badge' %>
  <%= render :template => 'logs/index' %>
</div>