<tr id="log_<%= log.id %>" class="log">
  <td><%= log.created_at.strftime("%F %H:%M") %></td>
  <% if log.currency == 0 %>
    <td>usd</td>
  <% else %>
    <td>eur</td>
  <% end %>
  <% if log.operation == 0 %>
    <td>buy</td>
  <% else %>
    <td>sell</td>
  <% end %>
  <td><%= "%.2f" % log.rate %></td>
  <td><%= link_to 'Delete', 
    log_path(log),
    method: :delete, 
    remote: true, 
    class: 'badge' %>
  </td>
</tr>