<div id="old_rates" hidden="true">
  <div class="container col-sm-12">
    <h1 id="rate_count"><%= pluralize(Rate.sorted.size, "Rate") %></h1><br>
    <%= render :partial => 'logs/form' %>
    <%= render :template => 'logs/logs' %>
  </div>
</div>
