<canvas id="lineChart"></canvas>
<div id="old_rates">
  <div class="col-sm-8 col-sm-offset-2">
    <div>
      <%= link_to t(:show_history), new_log_path, id: "show_link", remote: true, class: 'badge' %>
    </div>
    <%= render :partial => 'logs/header' %>
    <%= render :partial => 'logs/form' %>
    <%= render :partial => 'logs/logs' %>
  </div>
</div>
