<div id="old_rates">
  <div class="container col-sm-9">
    <div class="container">
      <%= link_to t(:show_history), new_log_path, id: "show_link", remote: true, class: 'badge' %>
    </div>
    <%= render :partial => 'logs/header' %>
    <%= render :partial => 'logs/form' %>
    <%= render :patial => 'logs/_logs' %>
  </div>
</div>
