<div id="logs" hidden="true">
  <table id="logs_table" class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Currency</th>
        <th>Operation</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tfoot>
      <%= render :partial => 'logs/log', :collection => Rate.sorted %>
    </tfoot>
  </table>
</div>