<tr class="trigger" id="trigger_<%= trigger.id %>">
  <td><%= trigger.email %></td>
  <% if trigger.currency == 0 %>
    <td>usd</td>
  <% else %>
    <td>eur</td>
  <% end %>
  <% if trigger.operation == 0 %>
    <td>buy</td>
  <% else %>
    <td>sell</td>
  <% end %>
  <% if trigger.kind == 0 %>
    <td>lower</td>
  <% else %>
    <td>upper</td>
  <% end %>
  <td><%= "%.2f" % trigger.rate.round(2) %></td>
  <td><%= link_to 'Delete', trigger_path(trigger),
    method: :delete, remote: true, class: 'badge' %></td>
</tr>