<h1>Triggers</h1>
<div id="new_trigger">
  <%= link_to 'New trigger', new_trigger_path, id: "new_link", remote: true, class: 'badge' %>
</div>
<% if @triggers.any? %>
  <table id="triggers_table" class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Currency</th>
        <th>Operation</th>
        <th>Type</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tfoot>
      <%= render @triggers %>
    </tfoot>
  </table>
<% end %>
